<!-- logo LARGE in header -->
<header class="login_header">
  <div class="logo">
    <%= image_tag "intune.png" %>
  </div>
    <a class="logo-parent" href="/login"><h1 class="login-logo-text">InTune</h1></a>



</header>
<div class="spotify-login-div">
  <h1 class="spotify-login">
    <a class="button button1" href="<%= @spotify_service%>">Login with Spotify</a>
  </h1>
</div>

<!-- illustration -->
