<!-- logo LARGE in header -->
<div class="login-div">
    <h1 class="login">
      <a class="login" href="<%= @spotify_service%>">
        Login</a>
    </h1>
  <%# <button class="spotify-btn">Login with Spotify</button> %>
  </div>

  <!-- illustration -->
