<!-- logo LARGE in header -->
<div class="login-div">
  <h1 class="login">Login</h1>
  <%# <button class="spotify-btn">Login with Spotify</button> %>
  <a href="<%= @spotify_service%>"> Login to Spotify! </a>
</div>
<!-- illustration -->