<!-- <% if @match_user.nil?%> <div class="no_match_wrapper"> <img src="<%= @search.img_url %>" alt="" class="album-img"> <div class="user-header"> <div class='container no_match'> <div id="icon" class="find-match-btn "></div> </div> <div
class="search-btn"> <a href="/searches/new"> Try again </a> </div> </div> </div> <% else %> -->
<div class="user-header">
  <!-- <h2> <%= @user.name %> </h2> -->

  <h3>
    You are in tune with
  </h3>

  <h2>
    <%= @match_user.name %>
  </h2>

</div>

<div class="user-main">
  <div class="match-album-img">
    <img src="" alt="" class="album-img">
      <a href="<%= @conversation_url %>">
  <button type="" name="button">Start Conversation</button>
    </a>
    <!-- here is you wanna star a search again -->
    <a href="/searches/new"><button type="" name="button">Search again</button></a>
  </div>

</div>
<!-- <% end %> -->
