<div class="user-header">
  <% if @match_user.nil? %>
    <h1 class="username"> #LONEWOLF, #HIPSTER, #TOOSCHOOLFORCOOL </h1>
  <% else %>
    
    <h2> <%= @user.name %> </h2>
    <h4> matched with </h4>
    <h2> <%= @match_user.name %> </h2>
  <% end %>
</div>