<div class="user-header">
  <% if @match_user.nil? %>
    <a href="/users/<%= current_user.id %>"><h1 class="username"> No matches </h1></a>
  <% else %>
    
    <h2> <%= @user.name %> </h2>
    <h4> matched with </h4>
    <h2> <%= @match_user.name %> </h2>
  <% end %>
</div>