<div class="new-search-div">

  <% if (@song_response.code == 200 &&
@song_response['is_playing']) %>
    <div class="song-div">
      <img src="<%= @album_image_url %>" alt="" class="album-img">
      <div class="song-info">
        <h2 class="search-title"><%= @song_name %>
        </h2>
        <h3 class="song-artist">
          <%= @song_artist %>
        </h3>
      </div>
    </div>
    <h4 id="search-prompt-txt">Press button to match</h4>
    <div class='container'>
      <div id="icon" class="find-match-btn pulse-button anim-wait"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">
      var icon = document.querySelector('#icon');

      document.querySelector('.container').addEventListener('click', function () {
        icon.classList.remove("anim-wait");
        icon.classList.add("anim-search");
        document.querySelector('#search-prompt-txt').textContent = "Searching..."
        var options = {
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': $('meta[name=csrf-token]').prop('content')
          },
          url: "<%= @search_url %>",
          method: "POST"
        }
        $.ajax(options).done(function (result_search) {
          // result is json version of search


          var match_api_call = function(){
            var match_options = {
              headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': $('meta[name=csrf-token]').prop('content')
              },
              url: `/api/match?search_id=${result_search.id}`,
              method: "GET"
            }

            $.ajax(match_options).done( function(result_match){
              console.log(result_match);
              if(result_match.match_show_url != null){
                location.href = result_match.match_show_url;
              }
            })
          }

          var stopSearchTimer = function(){
            document.querySelector('#search-prompt-txt').textContent = "No match, try again."
            icon.classList.remove("anim-search");
            icon.classList.add("anim-wait");
            clearInterval(searchTimer);
          }

          var searchTimer = setInterval(match_api_call, 2000);
          setTimeout(stopSearchTimer,8000);


        })
      })
    </script>

  <% else %>
    <h1 class="prompt">
      There is only one happiness in this life, to love and to be loved....
      <br><br>Listen to a song.</h1>
    <div class="search-btn">
      <a href="/searches/new">
        search again
      </a>
    </div>
  <% end %>
</div>
