<div class="user-header-matched">

  <h3>
    You are in tune with
  </h3>
  <div class="">
    <h2>Matilda Rutherford</h2>
    <!-- matched_user name -->
  </div>

</div>

<div class="match-album-img">
  <img src="https://i1.wp.com/24.media.tumblr.com/tumblr_m61qlxOiGC1qdrz3yo1_1280.jpg?zoom=2" alt="" class="album-img-match">

  <h1 class="spotify-login">
    <a class="button_2 button2" href="">Start Conversation</a>
  </h1>

  <h1 class="spotify-login">
    <a class="button_2 button2" href="">Search Again</a>
  </h1>

</div>
