<div class="message-div">










</div>
<div class="write">
  <form action="">
    <input type="text" name="message" placeholder="type message...">
    <button class="message-submit">send</button>
  </form>
</div>
