<div class="message-div">

    <h5 class="message-user"><%= @user.name %></h5>
    <h2 class="message-content">Hello Maria</h2>
    <h3 class="message-date"><%= @message.created_at %></h3>

</div>
<div class="write">
  <form action="/message" method="post">
    <input type="hidden" id="conversation_id" value="<%= @room_id %>">
    <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <input type="text" id="message" placeholder="type message...">
    <button class="message-submit">send</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript">

  var $submitBtn = $('.message-submit');

  $submitBtn.on('click', function (event) {
    event.preventDefault();
    var options = {
      url: '/api/messages',
      data: {
<<<<<<< HEAD
        content: $('#message').val(),
        room_id: $('#room_id').val(),
        conversation_id: $('#conversation_id'),
        user_id: $('#user_id')
=======
        content: $("#message").val(),
        room_id: $('#room_id').val()
>>>>>>> master
      },
      method: 'post'
    }
    $.ajax(options).done(function (res) {
<<<<<<< HEAD
      $('').text(res.)
=======
      $()
      $('#massage').text("...")
>>>>>>> master
    });

    
  })
</script>
