.message-div {
  width: 90vw;
  margin: 350px 5vw 0;
  padding: 20px;
  background-color: rgba(200, 209, 255, 0.17);
  height: 1060px;
  overflow: scroll;
  border-radius: 5%;
}

.write input {
  height: 80px;
  width: 90vw;
  border-radius: 40px;
  margin: 40px 5vw 0;
  border: 6px solid rgba(97, 123, 255, 0.17);
  font-size: 2em;
  padding: 0 20px;
}

.message-submit {
  height: 80px;
  width: 20vw;
  position: absolute;
  right: 5vw;
  margin-top: 20px;
  background-color: rgba(200, 209, 255, 0.17);
  border-radius: 40px;
  font-size: 2em;
  color: #000000;
  text-shadow: 0 0 20px #b6b6b64d;
}
