// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.find-match-btn {
  height: 37.5em;
  width: 37.5em;
  background-image: asset-url('icon.png');
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 1.25em 1.25em 1.5625em #7eb3ff;
  margin: 0 auto;
}

.find-match-btn h2 {
  font-size: 4em;
  color: black;
  text-decoration: none;
}

.new-search-div {
  padding-top: 25em;
  background-color: #DEECFF;
  height: 100vh;
}

.song-div {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0 3.125em;
  background-color: black;
  color: white;
  width: 100%;
  height: 15.625em;
}

.song-info {
  overflow: scroll;
}

.album-img {
  width: 9.375em;
  height: 9.375em;
  margin-right: 1.25em;
}

.match-album-img {
  // border: solid;
  width: 50em;
  height: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.album-img-match {
  width: 50em;
  height: 50em;
  // margin-right: 1.25em;
}

img .album-img-match {
  filter: blur(5px);
}

.prompt {
  font-size: 4em;
  margin: 0 3.125em;
}

.container {
  height: 37.5em;
  width: 37.5em;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  margin: 0 auto;
  border-radius: 50%;
}

.no_match {
  margin-bottom: 18.75em;
  margin-top: 18.75em;
}

.no_match_wrapper {
  background-image: url("");
}

h4 {
  text-align: center;
  color: white;
  margin-bottom: 4em;
  font-size: 2em;
  text-shadow: 0 0 1.25em #7eb3ff;
}

.pulse-button {
  position: absolute;
  top: 0;
  width: 37.5em;
  height: 37.5em;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #0866f6;
}

.pulse-button:focus {
  outline-style: none;
}

.container:focus {
  outline-style: none;
}

.anim-wait {
  animation: pulse-wait cubic-bezier(0, 0.57, 0.32, 1.28) 1.5s infinite;
}

.anim-search {
  animation: pulse cubic-bezier(0, 0.57, 0.32, 1.28) 2.5s infinite;
}
@-webkit-keyframes pulse {
  90% {
    transform: scale(.9);
  }

  99% {
    transform: scale(1);
    box-shadow: 0 0 0 31.25em rgba(#5a99d4, 0);
  }

  100% {
    transform: scale(.8);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
@-webkit-keyframes pulse-wait {
  50% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
