// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.find-match-btn {
  height: 400px;
  width: 400px;

}
.new-search-div {
  margin: 300px 50px 20px 50px;

}
.prompt {
  font-size: 4em;
}

.search-div {
  
}
