
// ------------------------
.button {
  background-color: rgb(255, 0, 0);
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.5em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid rgb(255, 0, 0);
}

.button1:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.spotify-login-div {
  margin-top: 18.75em;
  bottom: 3em;
  position: fixed;
  margin: 0 auto;
  width: 100vw;
}

.spotify-login {
  font-size: 5em;
  display: block;
  text-align: center;
  text-decoration: none;
}
