// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header {
  margin-top: 20em;
  margin-bottom: 3.125em;
  margin-left: 3.125em;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-header-matched {
    margin-top: 20em;
    margin-bottom: 3.125em;
    margin-left: 3.125em;
    width: 96%;
    // display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
  font-size: 4em;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.profile-pic {
  width: 15.625em;
  height: 15.625em;
  border-radius: 50%;
  background-color: lightgrey;
  margin-right: 3.125em;
}

// .profile-pic img {
//   width: 15.625em;
//   height: 15.625em;
//   border-radius: 50%;
//   object-fit: cover;
// }

.user-main {
  margin: 1.25em 3.125em;
  width: 96%;
  height: 55vh;
  overflow: scroll;
}

.logout i{
  font-size: 0.7em;
  position: absolute;
  right: 1em;
  top: 1em;
}

.searched-song-div {
  display: flex;
  align-items: center;
  margin-top: 1.25em;
}

.song-img {
  width: 9.375em;
  height: 9.375em;
  background-color: lightblue;
}

.searched-song-info {
  padding-left: 3.125em;
}

.song-title {
  font-size: 2em;
}

.searched-song-time {
  width: 10em;
  margin-right: 3em;
  margin-left: auto;
}

h2 {
  font-size: 3em;
  margin: 0;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}

h5 {
  font-size: 1.5em;
  font-weight: normal;
}

.search-btn {
  background-color: red;
  height: 12.5em;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.search-btn a {
  text-align: center;
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
}

.convo-icon img {
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
}
